main{
    #comic{
        .bar{
            height:50px;
        }
        .container{
            .thumb{
                position: relative;
                bottom: 250px;
            }
            >p{
                text-align: right;
                text-transform: uppercase;
                color: #555d65;
                font-weight: bold;
            }
            .col{
                flex-basis: 50%;
                .info{
                    background-color: $info-bar;
                    border-bottom: 1px solid black;
                    margin-top: 2rem;
                    color: #fff;
                    .info-price{
                        flex-grow: 1;
                        border-right: 1px solid black;
                        justify-content: space-between;
                    }
                }
                .description > p{
                    line-height: 30px;
                    margin: 2rem 0;
                }
            }
            .advertisement{
                text-align: right;
            }
        }
        .comic-info{
            background-color: $comic-info;
            padding: 2rem 0;
            .row{
                justify-content: space-between;
            }
            .talent,
            .specs{
                flex-basis: calc((100%/2) - 40px);
                h3{
                    margin-bottom: 1rem;
                }
                .art,
                .written,
                .series,
                .price,
                .sales{
                    justify-content: space-between;
                    border-bottom: 1px solid black;
                    padding: 2rem;
                }
                .artists,
                .writers{
                    flex-wrap: wrap;
                    flex-basis: 50%;
                    > p{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}