.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.p-3{
    padding: 15px;
}

.bgc-primary{
    background-color: $primary-color;
}

.active{
    border-bottom: 5px solid $primary-color;
}

img{
    max-width: 100%;
}