@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.p-3 {
  padding: 15px;
}

.bgc-primary {
  background-color: #0282f9;
}

.active {
  border-bottom: 5px solid #0282f9;
}

img {
  max-width: 100%;
}

header .top-bar {
  background-color: #0282f9;
  text-align: right;
  color: #fff;
}
header .top-bar .row {
  justify-content: end;
}
header .top-bar .row .col p:first-child {
  margin-right: 2rem;
}
header .menu.container {
  color: #4c4c4c;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
header .menu.container .row {
  justify-content: space-between;
  align-items: center;
}
header .menu.container .row li {
  margin: 0 0.5rem;
}
header .menu.container .row li a {
  padding: 10px;
  transition: border-bottom 0.5s;
}
header .menu.container .row li:hover {
  border-bottom: 5px solid #0282f9;
}
header .jumbotron {
  height: 500px;
  background-image: url("../images/jumbotron.jpg");
}

footer .faq {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .faq .col {
  flex-basis: 50%;
}
footer .faq .col p {
  color: #959595;
  font-size: 12px;
}
footer .faq .col .faq-box {
  margin-right: 1rem;
}
footer .faq .col .faq-box h3 {
  color: #fff;
  margin: 10px 0;
}
footer .faq .col .faq-box li {
  color: #959595;
  font-size: 14px;
}
footer .bg-footer {
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .social-media {
  background-color: #303030;
}
footer .social-media .row {
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
footer .social-media .row .col:first-child {
  border: 1px solid #0282f9;
}
footer .social-media .row .col:last-child {
  align-items: center;
}
footer .social-media .row .col:last-child p {
  color: #0282f9;
  font-weight: bold;
}
footer .social-media .row .box {
  align-items: center;
  padding: 10px;
}
footer .social-media .row .box img {
  padding: 5px;
}

main .extrasessions h1 {
  color: #0282f9;
}

main #comics {
  padding-top: 2rem;
  background-color: #1c1c1c;
  color: #fff;
}
main #comics .series {
  background-color: #0282f9;
  color: #fff;
  padding: 5px 50px;
  position: relative;
  bottom: 45px;
}
main #comics .card {
  flex-basis: 16.6666666667%;
  padding: 10px;
}
main #comics .load {
  margin: 0 auto;
  background-color: #0282f9;
  color: #fff;
  padding: 5px 50px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
main #comics .icon {
  flex-basis: 20%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
main #comics .icon p {
  padding: 1rem;
}
main #comics .icon img {
  width: 45px;
  height: 55px;
}

main #comic .bar {
  height: 50px;
}
main #comic .container .thumb {
  position: relative;
  bottom: 250px;
}
main #comic .container > p {
  text-align: right;
  text-transform: uppercase;
  color: #555d65;
  font-weight: bold;
}
main #comic .container .col {
  flex-basis: 50%;
}
main #comic .container .col .info {
  background-color: #55ba59;
  border-bottom: 1px solid black;
  margin-top: 2rem;
  color: #fff;
}
main #comic .container .col .info .info-price {
  flex-grow: 1;
  border-right: 1px solid black;
  justify-content: space-between;
}
main #comic .container .col .description > p {
  line-height: 30px;
  margin: 2rem 0;
}
main #comic .container .advertisement {
  text-align: right;
}
main #comic .comic-info {
  background-color: #f6f6f6;
  padding: 2rem 0;
}
main #comic .comic-info .row {
  justify-content: space-between;
}
main #comic .comic-info .talent,
main #comic .comic-info .specs {
  flex-basis: calc(50% - 40px);
}
main #comic .comic-info .talent h3,
main #comic .comic-info .specs h3 {
  margin-bottom: 1rem;
}
main #comic .comic-info .talent .art,
main #comic .comic-info .talent .written,
main #comic .comic-info .talent .series,
main #comic .comic-info .talent .price,
main #comic .comic-info .talent .sales,
main #comic .comic-info .specs .art,
main #comic .comic-info .specs .written,
main #comic .comic-info .specs .series,
main #comic .comic-info .specs .price,
main #comic .comic-info .specs .sales {
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 2rem;
}
main #comic .comic-info .talent .artists,
main #comic .comic-info .talent .writers,
main #comic .comic-info .specs .artists,
main #comic .comic-info .specs .writers {
  flex-wrap: wrap;
  flex-basis: 50%;
}
main #comic .comic-info .talent .artists > p,
main #comic .comic-info .talent .writers > p,
main #comic .comic-info .specs .artists > p,
main #comic .comic-info .specs .writers > p {
  color: #0282f9;
}