@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.active {
  border-bottom: 5px solid #0282f9;
}

img {
  max-width: 100%;
}

header .top-bar {
  background-color: #0282f9;
  text-align: right;
  color: #fff;
}
header .top-bar .row {
  justify-content: end;
}
header .top-bar .row .col p:first-child {
  margin-right: 2rem;
}
header .menu.container {
  color: #4c4c4c;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
header .menu.container .row {
  justify-content: space-between;
  align-items: center;
}
header .menu.container .row li {
  margin: 0 0.5rem;
}
header .menu.container .row li a {
  padding: 10px;
  transition: border-bottom 0.5s;
}
header .menu.container .row li:hover {
  border-bottom: 5px solid #0282f9;
}
header .jumbotron {
  height: 500px;
  background-image: url("../images/jumbotron.jpg");
}

main #home {
  padding-top: 2rem;
  background-color: #1c1c1c;
  color: #fff;
}
main #home .col {
  flex-basis: 16.6666666667%;
  padding: 10px;
}

main #comics h1 {
  color: #0282f9;
}

main #characters h1 {
  color: #0282f9;
}