@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.p-3 {
  padding: 15px;
}

.bgc-primary {
  background-color: #0282f9;
}

.active {
  border-bottom: 5px solid #0282f9;
}

img {
  max-width: 100%;
}

header .top-bar {
  background-color: #0282f9;
  text-align: right;
  color: #fff;
}
header .top-bar .row {
  justify-content: end;
}
header .top-bar .row .col p:first-child {
  margin-right: 2rem;
}
header .menu.container {
  color: #4c4c4c;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
header .menu.container .row {
  justify-content: space-between;
  align-items: center;
}
header .menu.container .row li {
  margin: 0 0.5rem;
}
header .menu.container .row li a {
  padding: 10px;
  transition: border-bottom 0.5s;
}
header .menu.container .row li:hover {
  border-bottom: 5px solid #0282f9;
}
header .jumbotron {
  height: 500px;
  background-image: url("../images/jumbotron.jpg");
}

footer .faq {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .faq .col {
  flex-basis: 50%;
}
footer .faq .col p {
  color: #959595;
  font-size: 12px;
}
footer .faq .col .faq-box {
  margin-right: 1rem;
}
footer .faq .col .faq-box h3 {
  color: #fff;
  margin: 10px 0;
}
footer .faq .col .faq-box li {
  color: #959595;
  font-size: 14px;
}
footer .bg-footer {
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .social-media {
  background-color: #303030;
}
footer .social-media .row {
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
footer .social-media .row .col:first-child {
  border: 1px solid #0282f9;
}
footer .social-media .row .col:last-child {
  align-items: center;
}
footer .social-media .row .col:last-child p {
  color: #0282f9;
  font-weight: bold;
}
footer .social-media .row .box {
  align-items: center;
  padding: 10px;
}
footer .social-media .row .box img {
  padding: 5px;
}

main #home {
  padding-top: 2rem;
  background-color: #1c1c1c;
  color: #fff;
}
main #home .card {
  flex-basis: 16.6666666667%;
  padding: 10px;
}
main #home .load {
  margin: 0 auto;
  background-color: #0282f9;
  color: #fff;
  padding: 5px 50px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
main #home .icon {
  flex-basis: 20%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
main #home .icon p {
  padding: 1rem;
}
main #home .icon img {
  width: 45px;
  height: 55px;
}

main #comics h1 {
  color: #0282f9;
}

main #characters h1 {
  color: #0282f9;
}